<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="main.css">

        <title>Game Collection Rating</title>

        <script src="https://unpkg.com/vue@3"></script>
    </head>

    <body>

        <div class="container">

            <div class="main">

                <h1 id="top">Game Collection Ratings*</h1>
    
                <img class="main" src="./assets/Luigi-Yoshi-Mario.jpg" alt="Luigi, Yoshi and Mario">

                <p><strong>Bold</strong> is a 10/10 score.</p>
                <p>*This is not a full list.</p>
    
            </div>
    
            <div id="myCollection">
    
                <table>
    
                    <thead>
    
                        <th>Image</th>
                        <th>Name</th>
                        <th>Release Date</th>
                        <th>Console(s)</th>
                        <th>Rating</th>
                        <th>Players</th>
                        <th>Description</th>
    
                    </thead>
    
                    <tbody>
    
                        <!-- loops for each item in our array, the v-for="games in gameCollection" -->
                        <!-- the first argument (games) can be named anything, as long as it matches what you are using (games -> {{games.names}}), even if it is wrapped in parenthesis (seen below); first thing is the 'item' in the array -->
                        <!-- second argument (index) is what refers to the index number of array, this can also be named whatever you want it to be named -->
                        <tr 
                            v-for="(games, index) in gameCollection"
                            :class="{odd: index % 2 !== 0 + 1,
                                     rating: games.rating === '10/10'}"
                        >
                            <td :style="imageStyle"><img v-bind:src="games.image" v-bind:alt="games.name"></td>
                            <td :style="nameStyle">{{games.name}}</td>
                            <td :style="releaseDate">{{games.released}}</td>
                            <td>{{games.console}}</td>
                            <td>{{games.rating}}</td>
                            <td>{{games.players}}</td>
                            <td :style="descriptionStyle">{{games.description}}</td>
                            <td><button type="button" v-on:click="handleDelete(games)">Delete</button></td>
                        </tr>
    
                    </tbody>
    
                </table>

                <form v-on:submit.prevent="handleSubmit">
                    <fieldset>
                        <legend>Your Game Collection</legend>

                        <p>Insert your own game by filling out the complete form. The rating should be out of ten - for example, 5/10. Please include a direct URL link to the image of your game.</p>

                        <div>

                            <label for="newImage">Image of Game </label><br>
                            <input v-model="newGameImage" id="newImage" type="text">

                        </div>

                        <div>

                            <label for="newName">Name of Game</label><br>
                            <input v-model="newGameName" id="newName" type="text">

                        </div>

                        <div>

                            <label for="newRelease">Release Date</label><br>
                            <input v-model="newGameRelease" id="newRelease" type="text">

                        </div>

                        <div>

                            <label for="newConsole">Console</label><br>
                            <input v-model="newGameConsole" id="newConsole" type="text">

                        </div>

                        <div>

                            <label for="newRating">Your Rating</label><br>
                            <input v-model="newGameRating" id="newRating" type="text">

                        </div>

                        <div>

                            <label for="newPlayer">Players</label><br>
                            <input v-model="newGamePlayer" id="newPlayer" type="text">

                        </div>

                        <div>

                            <label for="newDescription">Description</label><br>
                            <textarea name="" id="newDescription" 
                                cols="30" rows="8" v-model="newGameDescription"></textarea>

                        </div>
                        
                    </fieldset>

                    <button type="submit" :disabled="!isValid()">Submit Game</button>

                </form>
    
            <div class="footer">
    
                <p><a href="#top">Back to top</a></p>
    
            </div>

        </div>

        <script src="main.js"></script>
    </body>

</html>