<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="main.css">

        <title>Game Collection Rating</title>

        <script src="https://unpkg.com/vue@3"></script>
    </head>

    <body>

        <div class="container">

            <div class="main">

                <h1 id="top">Game Collection Ratings*</h1>
    
                <img class="main" src="./assets/Luigi-Yoshi-Mario.jpg" alt="Luigi, Yoshi and Mario">

                <p><strong>Bold</strong> is a 10/10 score.</p>
                <p>*This is not a full list.</p>
    
            </div>
    
            <div id="myCollection">
    
                <table>
    
                    <thead>
    
                        <th>Image</th>
                        <th>Name</th>
                        <th>Release Date</th>
                        <th>Console(s)</th>
                        <th>Rating</th>
                        <th>Players</th>
                        <th>Description</th>
    
                    </thead>
    
                    <tbody>
    
                        <!-- loops for each item in our array, the v-for="games in gameCollection" -->
                        <!-- the first argument (games) can be named anything, as long as it matches what you are using (games -> {{games.names}}), even if it is wrapped in parenthesis (seen below); first thing is the 'item' in the array -->
                        <!-- second argument (index) is what refers to the index number of array, this can also be named whatever you want it to be named -->
                        <tr 
                            v-for="(games, index) in gameCollection"
                            :class="{odd: index % 2 !== 0 + 1,
                                     rating: games.rating === '10/10'}"
                        >
                            <td :style="imageStyle"><img v-bind:src="games.image" v-bind:alt="games.name"></td>
                            <td :style="nameStyle">{{games.name}}</td>
                            <td :style="releaseDate">{{games.released}}</td>
                            <td>{{games.console}}</td>
                            <td>{{games.rating}}</td>
                            <td>{{games.players}}</td>
                            <td :style="descriptionStyle">{{games.description}}</td>
                            <td><button type="button"
                                v-on:click="handleDelete(gameCollection)">Delete</button></td>
                        </tr>
    
                    </tbody>
    
                </table>

                <form v-on:submit.prevent="handleSubmit">

                    <fieldset>
                        <legend>Add your own game</legend>
    
                        <div>
    
                            <label for="gameImage">Image from Game (url) </label>
                            <input v-model="newGameImage" id="gameImage" type="text">
    
                        </div>
    
                        <div>
    
                            <label for="gameName">Game Name </label>
                            <input v-model="newGameNames" id="gameName" type="text">
    
                        </div>
    
                        <div>
    
                            <label for="gameReleased">Game Release Date </label>
                            <input v-model="newGameReleased" id="gameReleased" type="date">
                            
                        </div>
    
                        <div id="consolePicker">
    
                            <h3>Pick a Console</h3>
                            
                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">PlayStation 1</label><br>
                            
                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">PlayStation 2</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">PlayStation 3</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">PlayStation 4</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Xbox 360</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Xbox One</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Older Nintendo Console (NES, SNES, N64, GameCube)</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Newer Nintendo Console (Wii/WiiU, DS/3DS, Nintendo Switch)</label><br>
                            
                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">PC</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Mac OS</label><br>

                            <label for="gameConsole"><input v-model="newGameConsole" id="gameConsole" 
                                type="checkbox">Other Console (Atari, Sega (Dreamcast, Genesis, Saturn), Etc.</label>
    
                        </div>
    
                        <div>
    
                            <label for="gameRating">Your Rating (out of 10) </label>
                            <input v-model="newGameRating" id="gameRating" type="text">
    
                        </div>
    
                        <div>
    
                            <label for="gamePlayers">Number of Players </label>
                            <input v-model="newGamePlayers" id="gamePlayers" type="text">
    
                        </div>
    
                        <div>

                            <label for="gameDescription">Game Description </label><br>
                            <textarea v-model="newGameDescription" name="" 
                            id="gameDescription" cols="30" rows="10"></textarea>

    
                        </div>
    
                        <button type="submit" :disabled="!isValid()">Submit Game </button>
    
                    </fieldset>
    
                </form>
    
            </div>

    
            <div class="footer">
    
                <p><a href="#top">Back to top</a></p>
    
            </div>

        </div>

        <script src="main.js"></script>
    </body>

</html>