<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Uno</title>

    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

    <div id="alpacaForm">
        <form>
            <fieldset>
                <legend>Fan Club Registration</legend>

                <div>

                    <label for="firstName">First Name</label>
                    <input id="firstName" v-model="firstName">

                </div>

                <div>

                    <label>Last Name</label>
                    <input v-model="lastName">

                </div>

                <div>

                    <label>Street Address</label>
                    <input v-model="street">

                </div>

                <div>

                    <label>State</label>
                    <select name="" id="" v-model="state">
                        <option V-FOR="state in availableStates" :value="state.value">{{state.name}}</option>
                    </select>

                </div>

                <div class="alpaca-color">

                    <p>Favorite Alpaca Colors</p>

                    <div>

                        <ul>
                            <li v-for="color in colors">
                                <label :for="color.value">

                                    <input type="checkbox" name="" v-model="selectedColors" :id="color.value" v-bind:value="color.value">
                                    {{color.name}}
        
                                </label>
                            </li>
                        </ul>
                        
                    </div>

                </div>

                <div class="alpaca-status">

                    <label>Alpaca Status</label>
                    <textarea name="" id="" 
                    cols="30" rows="10" v-model="status"></textarea>
                    
                </div>

            </fieldset>

            <div class="output">

                <h3>Output</h3>
                First Name: {{firstName}}<br>
                Last Name: {{lastName}}<br>
                Street: {{street}}<br>
                State: {{state}}<br>
                Color: {{selectedColors}}<br>
                Status: {{status}}

            </div>

        </form>

    </div>

    <script src="main.js"></script>
</body>
</html>