<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tuesday's Demo</title>

    <link rel="stylesheet" href="tuesday.css">

    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="myApp">
        <!-- class binding: use object, key is the class to apply, the value is the condition to check -->
        <h1 v-bind:class="{'dark-mode': preferredMode === 'dark', 'light-mode': preferredMode === 'light'}">Hello Vue 3</h1>

        <p :style="paragraphStyle">This is a paragraph.</p>

        <h3>Things I Like</h3>

        <!-- <ul>
            <li v-for="value in thingsILike">{{value}}</li>
        </ul> -->

        <!-- looping the object -->
        <ul>
            <li v-for="(value, name) in thingsILike">{{name}}: {{value}}</li>
        </ul>

        <h3>The Best Animals & 1 Pokemon</h3>

        <!-- looping the array -->
        <ul>
            <li v-for="card in cards" :class="{'non-creature': card.type !== 'Creature'}">{{card.name}}: {{card.type}}</li>
        </ul>

        <!-- <a v-bind:href="myAwesomeUrl">Link</a> -->
        <a :href="myAwesomeUrl" :title="linkTitle">Link</a>

    </div>


    <script src="tuesday.js"></script>
</body>
</html>