<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="main.css">

        <title>Assignment 7A</title>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    </head>

    <body>

        <h1>Games Collection Ratings</h1>

        <div id="myCollection">

            <table>

                <thead>

                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Console(s)</th>
                    <th>* Rating</th>
                    <th>Players</th>
                    <th>Description</th>

                </thead>

                <tbody>
                    <!-- loops for each item in our array, the v-for="games in gameCollection" -->
                    <!-- the first argument (games) can be named anything, as long as it matches what you are using (games -> {{games.names}}), even if it is wrapped in parenthesis (seen below); first thing is the 'item' in the array -->
                    <!-- second argument (index) is what refers to the index number of array, this can also be named whatever you want it to be named -->
                    <tr v-for="(games, index) in gameCollection">
                        <td>{{games.name}}</td>
                        <td>{{games.released}}</td>
                        <td>{{games.console}}</td>
                        <td>{{games.rating}}</td>
                        <td>{{games.players}}</td>
                        <td>{{games.description}}</td>
                    </tr>
                </tbody>

            </table>

        </div>

        <script src="main.js"></script>
        
    </body>

</html>